[submodule "project/Arkouda/arkouda"]
	path = project/Arkouda/arkouda
	url = git@github.com:Bears-R-Us/arkouda.git
[submodule "project/Arkouda/arkouda-contrib"]
	path = project/Arkouda/arkouda-contrib
	url = git@github.com:Bears-R-Us/arkouda-contrib.git
